$paymentPrimaryFontColor: #39f;

.gmi-check-group {
  display: inline-block;

  &.medium {
    .gmi-check-label {
      height: 16px;
      line-height: 16px;

      .gmi-check-label__icon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-family:"icomoon" !important;
        font-style: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        outline: 0;
        display: inline-block;
        margin-left: -20px;
        vertical-align: middle;

        &:before {
          content: '\e901';
          color: #bfcbd9;
          font-size: 17px;
          font-weight: 400;
          display: block;
          margin-top: -1px;
          transition: all ease-in-out .2s;
        }

        &.checked:before {
          content: '\e902';
          color: $paymentPrimaryFontColor;
          transition: all ease-in-out .2s;
        }
      }
    }
  }

  &.large {
    .gmi-check-label {
      height: 18px;
      line-height: 18px;

      .gmi-check-label__icon {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-family:"icomoon" !important;
        font-style: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        outline: 0;
        display: inline-block;
        margin-left: -21px;
        vertical-align: middle;

        &:before {
          content: '\e901';
          color: #bfcbd9;
          font-size: 18px;
          font-weight: 400;
          display: block;
          margin-top: -1px;
          transition: all ease-in-out .2s;
        }

        &.checked:before {
          content: '\e902';
          color: $paymentPrimaryFontColor;
          transition: all ease-in-out .2s;
        }
      }
    }
  }
}

// gmi checkbox start
.gmi-check-label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  padding-left: 19px;
  margin-right: 8px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  z-index: 10;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;

    .gmi-check-label__icon {
      outline: 0;

      &:before {
        content: '\e901';
        color: #eef1f6;
        font-size: 16px;
        font-weight: 400;
        display: block;
        transition: all ease-in-out .2s;
      }

      &.checked:before {
        content: '\e902';
        color: #eef1f6;
        transition: all ease-in-out .2s;
      }
    }

    .gmi-check-label__text {
      color: #bbb;
    }
  }

  a {
    color: $paymentPrimaryFontColor;
  }

  &__chk {
    position: absolute;
    left: -9999em;
  }

  &__icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-family:"icomoon" !important;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    outline: 0;
    display: inline-block;
    margin-left: -19px;
    vertical-align: middle;

    &:before {
      content: '\e901';
      color: #bfcbd9;
      font-size: 16px;
      font-weight: 400;
      display: block;
      margin-top: -1px;
      transition: all ease-in-out .2s;
    }

    &.checked:before {
      content: '\e902';
      color: $paymentPrimaryFontColor;
      transition: all ease-in-out .2s;
    }
  }

  &__text {
    font-size: 12px;
    padding-left: 4px;
  }

  &.medium {
    height: 16px;
    line-height: 16px;

    .gmi-check-label__icon {
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-family:"icomoon" !important;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      outline: 0;
      display: inline-block;
      margin-left: -20px;
      vertical-align: middle;

      &:before {
        content: '\e901';
        color: #bfcbd9;
        font-size: 17px;
        font-weight: 400;
        display: block;
        margin-top: -1px;
        transition: all ease-in-out .2s;
      }

      &.checked:before {
        content: '\e902';
        color: $paymentPrimaryFontColor;
        transition: all ease-in-out .2s;
      }
    }
  }

  &.large {
    height: 18px;
    line-height: 18px;

    .gmi-check-label__icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-family:"icomoon" !important;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      outline: 0;
      display: inline-block;
      margin-left: -21px;
      vertical-align: middle;

      &:before {
        content: '\e901';
        color: #bfcbd9;
        font-size: 18px;
        font-weight: 400;
        display: block;
        margin-top: -1px;
        transition: all ease-in-out .2s;
      }

      &.checked:before {
        content: '\e902';
        color: $paymentPrimaryFontColor;
        transition: all ease-in-out .2s;
      }
    }
  }
}
// gmi checkbox end
